<div class="container">
  <div class="row">
        <div class="col-md-3" id="leftCol">
                
        <div class="well"> 
                <ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#capacity#loadfactor">{{'Load Factor' |t}}</a></li>
                </ul>
          </div>
          </div>  
<div class="col-md-9">
                <h1></h1>
                <section>
                <div>
                <div>                
              
                </div>
                </section>
                <h2 id="incidents">{{'Load Factor' |t}}</h2>
                <div ng-include="'templates/capacity-loadfactor.html'"></div>
                <hr>
                
          </div> 