<div class="container">
  <div class="row">
        <div class="col-md-3" id="leftCol">
                
        <div class="well"> 
                <ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#org#sec1">{{'董事局成員' |t}}</a></li>
                  <li><a href="#org#realted-news">{{'Related News' |t}}</a></li>
                </ul>
          </div>
          </div>  
          <div class="col-md-9">
                <h1></h1>
                <section>
                <div>
                <div>                
                </div>
                </section>
                <h2 id="sec1">{{'董事局成員' |t }}</h2>
                <div>
                <img src="http://www.mtr.com.hk/chi/investrelation/images/governace_raymond.jpg"></img>
                錢果豐博士
                非執行主席
企業責任委員會主席
提名委員會成員
</div>

<div>
                <img src="http://www.mtr.com.hk/chi/investrelation/images/board_alasdair.jpg
"></img>
<button type="button" class="btn btn-info">政府官員</button> 香港特區政府金融發展局成員
                </div>


<div>
<img src="http://www.mtr.com.hk/eng/investrelation/images/board_tcchew.jpg"></img>

<button type="button" class="btn btn-danger">離職</button> 二零一四年十月二十八日

</div>
                <img src="http://www.mtr.com.hk/chi/investrelation/images/governace_raymond.jpg"></img>
                <img src="http://www.mtr.com.hk/chi/investrelation/images/governace_raymond.jpg"></img>
                <img src="http://www.mtr.com.hk/chi/investrelation/images/governace_raymond.jpg"></img>


                <!-- Indicates a dangerous or potentially negative action -->
                
                <div>
              Source:
              http://www.mtr.com.hk/chi/investrelation/governance.html#Members_of_the_Board


              (http://www.mtr.com.hk/eng/corporate/file_rep/PR-14-032-C.pdf)

                </div>
                </div>
                <h2 id="sec1">{{'董事局成員' |t }}</h2>
                <div>
                鐵路事宜小組委員會
                </div>
                http://www.legco.gov.hk/general/chinese/panels/yr12-16/tp_rdp.htm

                主　　席  田北辰議員, BBS, JP 

副  主  席 陳恒鑌議員 

委　　員   李卓人議員 

涂謹申議員 

陳鑑林議員, SBS, JP 

王國興議員, BBS, MH 

湯家驊議員, SC 

葉劉淑儀議員, GBS, JP 

謝偉俊議員, JP 

梁國雄議員 

易志明議員 

胡志偉議員, MH 

范國威議員 

葛珮帆議員, JP 

鄧家彪議員 

盧偉國議員, BBS, MH, JP 

鍾樹根議員, BBS, MH, JP 

謝偉銓議員 

(總數 : 18名委員) 

秘　　書  劉素儀女士 

法律顧問  李凱詩小姐
                <hr>
                
          </div> 
    </div>
</div>