<div class="container">
  <div class="row">
        <div class="col-md-3" id="leftCol">
                
        <div class="well"> 
                <ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#org#sec1">{{'董事局成員' |t}}</a></li>
                  <li><a href="#org#realted-news">{{'Related News' |t}}</a></li>
                </ul>
          </div>
          </div>  
          <div class="col-md-9">
                <h1></h1>
                <section>
                <div>
                <div>                
                </div>
                </section>
                <h2 id="sec1">{{'董事局成員' |t }}</h2>
                <div>
                <img src="http://www.mtr.com.hk/chi/investrelation/images/governace_raymond.jpg"></img>
                錢果豐博士
                非執行主席
企業責任委員會主席
提名委員會成員
</div>

<div>
                <img src="http://www.mtr.com.hk/chi/investrelation/images/board_alasdair.jpg
"></img>
<button type="button" class="btn btn-info">政府官員</button> 香港特區政府金融發展局成員
                </div>


<div>
<img src="http://www.mtr.com.hk/eng/investrelation/images/board_tcchew.jpg"></img>

<button type="button" class="btn btn-danger">離職</button> 二零一四年十月二十八日

</div>
                <img src="http://www.mtr.com.hk/chi/investrelation/images/governace_raymond.jpg"></img>
                <img src="http://www.mtr.com.hk/chi/investrelation/images/governace_raymond.jpg"></img>
                <img src="http://www.mtr.com.hk/chi/investrelation/images/governace_raymond.jpg"></img>


                <!-- Indicates a dangerous or potentially negative action -->
                
                <div>
              Source:
              http://www.mtr.com.hk/chi/investrelation/governance.html#Members_of_the_Board


              (http://www.mtr.com.hk/eng/corporate/file_rep/PR-14-032-C.pdf)

                </div>
                </div>
                <hr>
                
          </div> 
    </div>
</div>