<div class="container">
  <div class="row">
        <div class="col-md-3" id="leftCol">
                
        <div class="well"> 
                <ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#price#sec1">{{'Trend' |t}}</a></li>
                </ul>
          </div>
          </div>  
<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
          <div class="col-md-9">
                <h1></h1>
                <section>
                <div>
                <div>                
              
                </div>
                </section>
                <h2 id="sec1">{{'Trend' |t }}</h2>
                 <!-- ng-controller="XRailBudgetCtrl" -->
                <div ng-include="'templates/price-trend.html'">
                </div>
                <hr>
                
          </div> 
    </div>
</div>