<div class="container">
  <div class="row">
        <div class="col-md-3" id="leftCol">
                
        <div class="well"> 
                <ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#stability#incidents">{{'Delay Records' |t}}</a></li>
                  <li><a href="#stability#mtrupdate">{{'MTR Service Update' |t }}</a></li>
                </ul>
          </div>
          </div>  
<div class="col-md-9">
                <h1></h1>
                <section>
                <div>
                <div>                
              
                </div>
                </section>
                <h2 id="incidents">{{'Delay Records' |t }}</h2>
                 <!-- ng-controller="XRailBudgetCtrl" -->
              <!--   <div ng-include="'templates/price-trend.html'">
                </div> -->

                <div>見網站 <a href="http://mtrdelay.reality.hk/" target="_blank">http://mtrdelay.reality.hk/</a></div>


                <h2 id="mtrupdate">{{'MTR Service Update' |t }}</h2>

               <div>見Twitter <a href="https://twitter.com/mtrupdate" target="_blank">@mtrupdate</a></div>


                <hr>
                
          </div> 