<!-- Begin Body -->
<div class="container">
  <div class="row">
        <div class="col-md-3" id="leftCol">
                
        <div class="well"> 
                <ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#xrail#sec1">{{'Background' |t}}</a></li>
                  <li><a href="#xrail#sec2">{{'Schedule and Budget' |t }}</a></li>
                  <li><a href="#xrail#sec3">Section 3</a></li>
                  <li><a href="#xrail#sec4">{{'Related News' |t}}</a></li>
                </ul>
          </div>
          </div>  

          <div class="col-md-9">
                <h2 id="sec0">{{'Express Rail' |t }}</h2>
                <h1></h1>
                <section>
                <div>
                <img class="xrail-route" src="http://upload.wikimedia.org/wikipedia/commons/1/1f/Guangzhou_Shenzhen_Hongkong_Express_Rail_Link_zh-hant.svg"></img></div>
<a href="http://zh.wikipedia.org/wiki/File:Guangzhou_Shenzhen_Hongkong_Express_Rail_Link_zh-hant.svg">Source: Wikipedia</a>
                <div>                
              
                </div>
                </section>
                <h2 id="sec1">{{'Background' | t}}</h2>
                <p>
                Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
                </p>
                <div class="row">
                  <div class="col-md-6">
                      <div class="panel panel-default">
                      <div class="panel-heading"><span><h3><a href="http://zh.wikipedia.org/zh-hk/%E5%BB%A3%E6%B7%B1%E6%B8%AF%E9%AB%98%E9%80%9F%E9%90%B5%E8%B7%AF%E9%A6%99%E6%B8%AF%E6%AE%B5?section=23#.E5.BB.B6.E9.81.B2.E5.B0.8D.E5.A4.96.E5.85.AC.E6.80.96.E5.B7.A5.E7.A8.8B.E5.BB.B6.E8.AA.A4" target="_blank">延遲對外公怖工程延誤</a></h3></span><span class="pull-right">維基百科資料</span></div>
                      <div class="panel-body">早於2013年已經有消息指出廣深港高速鐵路香港段工程延誤，惟港鐵一直否認，強調可以按照原定目標，即於2015年竣工及通車。2014年4月15日，港鐵公布耗廣深港高速鐵路香港段工程因為於同年3月30日發生的一場黑色暴雨，致使位於元朗七星崗附近斜坡的泥土鬆脫，引致明渠堵塞、隧道水浸、浸壞巨型鑽挖機，嚴重禍及廣深港高速鐵路香港段工程，故此工程需要延遲9個月才能夠竣工。
                      </div>
                    </div>
                  </div>  
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading"><span><h3><a href="http://zh.wikipedia.org/zh-hk/%E9%A6%99%E6%B8%AF%E9%AB%98%E9%90%B5%E7%88%AD%E8%AD%B0" target="_blank">香港高鐵爭議(2009年)</a></h3></span><span class="pull-right">維基百科資料</span></div>
                      <div class="panel-body">香港高鐵爭議是指於2009年下旬香港政府在推動整個廣深港高速鐵路香港段計劃時，在財政支出、回收土地，以及是車站選址、設計等問題上，引起了香港社會人士的關注與彼此之間的衝突。
                      </div>
                    </div>
                  </div>
                </div>
              
                <hr>
                <h2 id="sec2">{{'Schedule and Budget' |t }}</h2>
                 <!-- ng-controller="XRailBudgetCtrl" -->
                <div ng-include="'templates/xrail-budget.html'">
                </div>
                <hr>
              
                <h2 id="sec3">Section 3</h2>
            Images are responsive sed @mdo but sum are more fun peratis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut..
                <br>
                Fos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut..
              
              
                <h2 id="sec4">{{'Related News'|t}}</h2>
                <ul><li>
           <a href="http://hk.apple.nextmedia.com/news/art/20140429/18704108">高鐵騙局　總站B4層消失了（蘋果日報）</a>
                  
                </li></ul>
                <hr>
              <h4><a href="http://bootply.com/100993">Edit on Bootply</a></h4>
                <hr>
                
                
          </div> 
    </div>
</div>