  <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, .map-container {
            height: 90%;
            width: 100%;
        }
    </style>

    <style>

    #map{
          height:100%;
          margin-top:-20px;
    }
.info-container{
  width:25%;
}

  slider {
    display:     block;
    position:    relative;
    height:      30px;
    width:       500px;
  }

  slider span.bar {
    height:     50%;
    z-index:    0;
    background: #eee;
    left:       0;
    top:        25%;
    cursor:     pointer;
  }

  slider span.bar.selection, slider span.bar.unselected {
  }

  slider span.bar.selection {
    background: #0a0;
    opacity:    0.5;
  }

  slider span.bar.unselected {
    width:      auto;
    background: #a00;
    opacity:    0.5;
  }

  slider span.pointer {
    cursor:           pointer;
    width:            15px;
    top:              0;
    bottom:           0;
    background-color: #00a;
  }

  slider span.pointer:hover {
  }

  slider span.pointer.active {
  }

  slider span.bubble {
    font-size:   0.7em;
    line-height: 1.4em;
    font-family: sans-serif;
    text-align:  center;
    text-shadow: none;
    top:         -1.3em;
    cursor:      pointer;
  }

  slider span.bubble.selection, slider span.bubble.limit {
    top: 25%;
  }

  slider span.bubble.selection {
  }

  slider span.bubble.limit {
    margin-left: -100000px;

  }

  slider span.bubble.low, slider span.bubble.high {
margin-left: -100000px;
  }

  ::-ms-tooltip {
    display: none;
  }

  .time-slider{
    width: 100%;
  }


  .time-slider-buckets{
    background: #eee;
    height:20px;
    width:100%;
    margin-right: 0px;
    margin-left: 0px;
    border-color:#eee;
  }

    .slider-container {
    padding-top:2rem;
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
    -khtml-user-select:    none;
    -moz-user-select:      -moz-none;
    -ms-user-select:       none;
    user-select:           none;
  }


  .date-container{
  }

  .xrail-progress-container{
    margin-top:-20px;
  }
    </style>
    <!-- controls="controls" -->
    <div class="row map-container">
  <leaflet id="map" class="col-md-9" geojson="railWayGeoJSON" markers="displayedMarkers" center="westKowloon" layers="layers" > </leaflet>
<div class="col-md-2 info-container">Testing</div>
  </div>

    <div class="general-info">提交報告</div>
    <div class="row">
    <div class="slider-container col-md-10">
    <!-- stretch="1"  -->
    <slider class="time-slider" floor="1288323623"  step-width="10000000" ceiling="1400599247" ng-model='value' ></slider>
    <div class="time-slider-buckets row">
      <div class="col-md-1">2011-01</div>
      <div class="col-md-1">2011-06</div>
      <div class="col-md-1">2012-01</div>
      <div class="col-md-1">20110106</div>
    </div>
    </div>
    <div class="date-container col-md-2">
    <h2>
        {{value * 1000| date:'yyyy-MM'}}
    </h2>
    </div>


    </div>


    <span >

    </span>
<span>{{value}} {{chosenTimeWindow}} </span>
