.view - animate.ng - enter {
    -webkit - transition: .5s linear all; - moz - transition: .5s linear all; - o - transition: .5s linear all;
    transition: .5s linear all;
    opacity: 0
}
    .view - animate.ng - enter.ng - enter - active {
        opacity: 1
}


.xrail - route {
    height: 10 % ;
    width: 50 % ;
}

iframe.timeline {
    display: block;
    width: 90 % ;
    height: 450px;
    margin: 0 auto;
}


.railway .name {
    background-color: #1d9d74;
    text-decoration: none;
    line-height: 1.5em;
    height: 5em;
    padding-right: 100px;
    border-radius: 4px;
    width:100px;
    font-weight: normal;
    font-size:1.5em;   
}

.railway .railway-east{
background-color: #6AC2EE;
}

.railway .railway-west{
    background-color: #AB118E;
}

.railway .railway-maonshan{
    background-color: #A73E10;
}
.railway  .railway-tko{
   background-color:  #915FB6;
}

.railway .railway-hki{
    background-color: #2D7BC8;
}
.railway .railway-kwuntong{
    background-color: #33B652;
}
.railway .railway-tw{
    background-color: #EE2722;;
    
}
.railway .railway-tc{
   background-color: #F68B11;
}
.railway .railway-disney{
    background-color: #DE6DBD;
}
